@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Noto Sans KR", "Poppins", sans-serif;
  height: fit-content;
}
/* 헤더 */
header {
  width: 100%;
  height: 80px;
  display: flex;
  box-sizing: border-box;
  padding: 20px 50px;
  justify-content: space-between;
}
/* 로고 */
h1 {
  width: 200px;
  height: 80px;
  margin-top: -23px;
  position: relative;
  top: 15px;
  /* background-color: aqua; */
}

/* 네비 */

.gnb {
  width: 100%;
  display: flex;
  gap: 50px;
  text-align: center;
  line-height: 40px;
}
li {
  width: 100px;
}
.gnb > li > a {
  color: #999999;
  font-size: 17px;
  font-weight: normal;
}

.gnb > li:hover > a {
  color: #000000;
  font-weight: bold;
  transition: 0.3s;
}
/* 서브용 박스 */
.blu_box {
  width: 100%;
  height: 123px;
  background-image: url(/img/SUB/background.png);
  background-repeat: no-repeat;
}
/* 2차 메뉴1 */
.submenu1 {
  background-color: #ffffff;
  border-radius: 5px;
  line-height: 40px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

nav > .gnb > .gnb1:hover .submenu1 {
  height: 80px;
}
.submenu1 > li > a {
  color: #000000;
}

/* 2차 메뉴2 */
.submenu2 {
  background-color: #ffffff;
  border-radius: 5px;
  line-height: 40px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

nav > .gnb > .gnb2:hover .submenu2 {
  height: 120px;
}
.submenu2 > li > a {
  color: #000000;
}
/* 2차 메뉴3 */
.submenu3 {
  background-color: #ffffff;
  border-radius: 5px;
  line-height: 40px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

nav > .gnb > .gnb3:hover .submenu3 {
  height: 80px;
}
.submenu3 > li > a {
  color: #000000;
}
/* 2차 메뉴4 */
.submenu4 {
  background-color: #caddff;
  border-radius: 5px;
  line-height: 40px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

nav > .gab > .gnb4:hover .submenu4 {
  height: 80px;
}
.submenu4 > li > a {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
/* 2차메뉴 호버1 */
nav > .gnb > .gnb1 > .submenu1 a:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
/* 2차메뉴 호버 2*/
nav > .gnb > .gnb2 > .submenu2 a:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
/* 2차메뉴 호버 3*/
nav > .gnb > .gnb3 > .submenu3 a:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}

/* 풋터 */
/* 풋터 */
.foot {
  height: 210px;
  width: 100%;
  /* display: flex; */
  background-color: #ffffff;
}
.list {
  width: 100%;
  height: 102px;
  border-bottom: 0.5px solid #dbdbdb;
  border-top: 0.5px solid #541414;
  display: flex;
  justify-content: space-between;
}
.dangerous {
  display: flex;
  box-sizing: border-box;
  padding-left: 100px;
}
.dangerous > li {
  display: block;
  width: 125px;
  height: 100px;
  text-align: center;
}
.dangerous > li > a {
  font-size: 15px;
  color: #aaaa;
  line-height: 102px;
}
.dangerous > li:nth-child(4) > a {
  font-weight: 800;
  color: #000000;
}
/* 풋터 가상요소 */

/* 아이콘 */
.icon_wrapper {
  display: flex;
  gap: 30px;
  box-sizing: border-box;
  padding-right: 100px;
}
.icon_wrapper > div {
  width: 50px;
  height: 50px;
  background-image: url(/img/split.png);
  box-sizing: border-box;
  padding-right: 100px;
  margin: 20px auto;
  cursor: pointer;
}
.fa {
  background-position: -82px -26px;
}
.in {
  background-position: -8px -108px;
}
.tw {
  background-position: -86px -108px;
}
.ut {
  background-position: -7px -26px;
}
/* 마지막로고 */
.footer_logo {
  width: 100%;
  height: 109px;
  /* background-color: #006399; */
  box-sizing: border-box;
  padding-left: 100px;
  padding-top: 30px;
}
.logo_last {
  width: 220px;
  height: 80px;
  /* background-color: #000000; */
  background-position: -320px 0px;
  background-image: url(/img/split.png);
}

.appa {
  display: flex;
}
.appa > p {
  width: 50%;

  margin-top: 35px;
  margin-left: 33px;
  color: #aaaa;
  /* background-color: #004789; */
}
