@charset "utf-8";
/* 초기화 파일 */
@import url(./reset.css);

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* 스크롤 모양 */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-image: linear-gradient(-225deg, #ffffff 0%, #ffffff 100%);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #3ea7fdda;
}
/* 오른쪽 메뉴 */
.quickmenu {
  width: 130px;
  bottom: 150px;
  right: 5vw;
  position: fixed;
  border-radius: 15px;
  background-color: rgba(78, 78, 78, 0.8);
  z-index: 999;
  height: 500px;
  overflow: hidden;
}
.quickmenu > ul {
  width: 100%;
  height: 100%;
}
.quickmenu > ul > li {
  width: 100%;
  height: 100px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  font-size: 14px;
}
.quickmenu > ul > li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #fff;
  font-weight: 600;
}
.quickmenu > ul > li > a::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  scale: 85%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-position: center;
  background-repeat: no-repeat;
}
.quickmenu > ul > li > a.a_fi1::before {
  background-image: url(../img/menu_2/user.png);
}
.quickmenu > ul > li > a.a_fi2::before {
  background-image: url(../img/menu_2/tel.png);
}
.quickmenu > ul > li > a.a_fi3:before {
  background-image: url(../img/menu_2/book.png);
}
.quickmenu > ul > li > a.a_fi4::before {
  background-image: url(../img/menu_2/baby.png);
}
.quickmenu > ul > li > a.a_fi5::before {
  background-image: url(../img/menu_2/company.png);
}

.quickmenu > ul > li:hover {
  background-color: #949494;
}

body {
  font-family: "Noto Sans KR", "Poppins", sans-serif;
  height: fit-content;
  scroll-behavior: smooth;
}
/* 헤더 */

header {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  display: flex;
  box-sizing: border-box;
  padding: 20px 50px;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  transition: 0.3s;
}
header > div {
  width: 50%;
  height: 80px;
}

/* 모바일 아이콘 숨기기*/
.mob_ {
  background-image: url(../img/main/mob.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;

  margin-top: 10px;
  display: none;
}
/* 로고 */
h1 {
  width: 200px;
  height: 80px;
  margin-top: -23px;
  position: relative;
  top: 15px;
  filter: brightness(0.5);
}
/* 네비 */

.gnb {
  width: 100%;
  display: flex;
  gap: 50px;
  text-align: center;
  line-height: 40px;
}
li {
  width: 100px;
}
.gnb > li > a {
  color: #999999;
  font-size: 17px;
  font-weight: normal;
}

.gnb > li:hover > a {
  color: #000000;
  font-weight: bold;
  transition: 0.3s;
}

/* 2차 메뉴1 */
.submenu1 {
  background-color: #ebebeb;
  border-radius: 5px;
  line-height: 40px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

nav > .gnb > .gnb1:hover .submenu1 {
  height: 80px;
}
.submenu1 > li > a {
  color: #000000;
}

/* 2차 메뉴2 */
.submenu2 {
  background-color: #ebebeb;
  border-radius: 5px;
  line-height: 40px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

nav > .gnb > .gnb2:hover .submenu2 {
  height: 120px;
}
.submenu2 > li > a {
  color: #000000;
}
/* 2차 메뉴3 */
.submenu3 {
  background-color: #ebebeb;
  border-radius: 5px;
  line-height: 40px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

nav > .gnb > .gnb3:hover .submenu3 {
  height: 80px;
}
.submenu3 > li > a {
  color: #000000;
}
/* 2차 메뉴4 */

nav > .gab > .gnb4:hover .submenu4 {
  height: 80px;
}
.submenu4 > li > a {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
/* 2차메뉴 호버1 */
nav > .gnb > .gnb1 > .submenu1 a:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
/* 2차메뉴 호버 2*/
nav > .gnb > .gnb2 > .submenu2 a:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
/* 2차메뉴 호버 3*/
nav > .gnb > .gnb3 > .submenu3 a:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
/* tlwkr */
footer {
  height: fit-content;
  width: 100%;
  /* display: flex; */
  background-color: #f9f9f9;

  margin-top: 50px;
}
.last_num {
  width: 100%;

  display: flex;
  border-bottom: 0.3px dotted #979797;
}
.how {
  box-sizing: border-box;

  width: 50%;
  height: fit-content;
  margin-bottom: 20px;
  margin-left: 210px;
  margin-top: 60px;
  color: #c2c2c2;
}
.how > p {
  font-size: 15px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 20px;
}
.how > h2 {
  margin-bottom: 20px;
  font-size: 35px;
  color: #000000;
  font-weight: 800;
}
.flex_wrap {
  display: flex;
  gap: 20px;
}
.flex_wraper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.faq_wrap {
  display: flex;
  gap: 20px;
}
.a_faq {
  margin-top: 30px;
  display: block;
  width: 110px;
  height: 39px;
  background-color: #e1e1e1;
  border-radius: 5px;
  text-align: center;
  line-height: 39px;
}
.a_faq:hover {
  background-color: #999999;
  color: #ffffff;
}
.la_ri {
  width: 50%;
  height: 300px;

  text-align: center;
}
.la_ri > nav {
  display: flex;
  justify-content: flex-end;
  color: #5a5a5a;
  box-sizing: border-box;

  gap: 70px;
  margin-top: 100px;
  margin-right: 224px;
}
/* 풋터 메뉴2 큰 타이틀 */
.ma {
  font-size: 20px;
  font-weight: 900;
  line-height: 50px;
  color: #949494;
}
.ma:hover {
  color: #999999;
}
/* 라스트 풋터 메뉴 작은 li */
.la_sub {
  line-height: 40px;
}
/* li안에 a */
.la_sub a {
  color: #979797;
}
.la_sub li:hover a {
  color: #5a5a5a;
}
/* 풋터 */
.la_log {
  width: 100%;
  height: fit-content;
  /* background-color: aqua; */
  box-sizing: border-box;
  padding: 0px 0px 0px 2%;
}
.la_log {
  display: flex;
}
.la_log::before {
  display: block;
  width: 80%;
  height: 10px;
  background-color: #000000;
}
.logo_last {
  width: 20%;
  height: 80px;
  background-position: -306px 0px;
  margin-top: 43px;
  padding-left: 50px;
  margin-left: 56px;
  filter: brightness(0.5);
}

.list {
  width: 100%;
  height: 102px;

  justify-content: space-between;
}
.dangerous {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
}
.dangerous > li {
  display: block;
  width: 126px;
}
.dangerous > li > a {
  font-size: 11px;
  color: #aaaa;
  line-height: 102px;
}
.dangerous > li:nth-child(4) > a {
  font-weight: 800;
  color: #000000;
}

/* 아이콘 */
.icon_wrapper {
  display: flex;
  gap: 30px;
  box-sizing: border-box;
  padding-right: 100px;
}
.btn_wrap1 {
  width: 100%;
  height: 40px;
  margin: 53px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btn_wrap a {
  float: right;
  display: inline-block;
  width: 135px;
  height: 40px;
  margin-left: 10px;
}
.btn_wrap a:last-child {
  margin-left: 0;
}

/* 마지막로고 */
.footer_logo {
  width: 100%;
  height: 109px;
  /* background-color: #006399; */
  box-sizing: border-box;
  padding-left: 100px;
  padding-top: 30px;
}

.appa {
  display: flex;
}
.appa > p {
  width: 50%;
  font-size: 14px;

  margin-top: 35px;
  margin-left: 33px;
  color: #aaaa;
}
/*업버튼 */
.f_btn2 {
  display: block;
  height: 60px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  position: absolute;
  top: 90vh;
  right: 5vw;
  z-index: 999;
  position: fixed;
  border: none;
  border: 0.3px solid rgba(255, 255, 255, 0.5);
}

.btn_sub {
  cursor: pointer;
}
