@charset "utf-8";
/* 초기화 , 헤더 풋터 고정css */
@import url(./layout.css);

body {
  scroll-behavior: smooth;
}
/* 따라오는 박스 메뉴 글씨 숨기기 */
.quickmenu > ul > li:nth-child(1) > a:nth-child(2) {
  display: none;
}
.quickmenu > ul > li:nth-child(5) > a:nth-child(2) {
  display: none;
}
.section1 {
  height: 226px;
  width: 100%;
}
/* 헤더 굵기 */
.point {
  font-weight: 800;
  color: black;
}
.blu_box {
  box-sizing: border-box;
  padding-top: 20px;
}
/* 메인영역 */
.blu_box_noting {
  background-image: url(../img/sub_card/card.png);
}
/*메인  */
/* 떠다니는 메뉴 */
div,
ul,
li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.content {
  position: relative;
  min-height: 1000px;
}
/* 플로팅 사진 */
.float2 {
  width: 73%;
  height: fit-content;
  position: absolute;
  z-index: 4;
  background-size: 487px;
  background-repeat: no-repeat;
  left: 5%;
  top: 14%;
  animation: slinder 1s ease;
  animation-duration: 3s;
}
/* 애니메이션 */
@keyframes slinder {
  0% {
    opacity: 0;
    left: 0vw;
  }

  100% {
    opacity: 1;
    right: 10vw;
  }
}
.bar_wrap {
  display: flex;
  width: 353px;
  height: 53px;
  line-height: 53px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 100px;
}

.float2 > p {
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}
.float2 > span {
  font-size: 50px;
  color: #1b8bff;
  font-weight: bold;
}
.bar_wrap > div {
  /* margin-top: 50px; */
  border-bottom: 1px solid rgba(27, 139, 255, 0.5);
  width: 117px;
  height: 100%;
  text-align: center;
  color: #1b8bff;
  cursor: pointer;
}
/* 메뉴 색 */
.bar_wrap > div > p {
  font-size: 16px;
  color: #1b8bff;
}
/* 메뉴 색 */
.bar_wrap > div:hover > p {
  border-bottom: 3px solid #1b8bff;
  transition: 0.3s;
  color: #1b8bff;
}

.height {
  width: 30px;
  height: 30px;
  background-image: url(../img/sub4/arrow.png);
  background-repeat: no-repeat;
  margin-left: 18px;
  margin-top: 14px;
}

/* 인풋 */
.input_tag {
  width: 828px;
  height: 44px;
  background-color: #f9f9f9;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  padding-left: 42px;
  margin-bottom: 59px;
}
input {
  width: 80%;
  height: 100%;
  font-size: 17px;
  border: 0;
  outline: none;
  background-color: #f9f9f9;
  color: rgba(0, 0, 0, 0.3);
}

.search {
  width: 40px;
  height: 100%;
  background-image: url(../img/sub4/Result.png);
  background-position: -548px 13px;
  margin: 0px 63px;
  cursor: pointer;
}
/* 섹션2 */
.sec_2 {
  width: 1350px;
  height: fit-content;
  margin: 0 auto;
}
/* 컨텐츠 영역1 */
.con_wraper {
  display: flex;
  justify-content: center;
}
.con_wraper:hover .hov_box {
  display: flex;
  justify-content: center;
}
.con_wrap:hover .right_txt h3 a {
  color: #717171;
}

.img_float {
  width: 1350px;
  height: 500px;
  background-image: url(../img/mom.png);
  margin-bottom: 50px;
}
.right {
  width: 60%;
  height: 328px;
}
.left {
  width: 489px;
  height: 328px;
}
/* 왼쪽 */
.left {
  font-size: 45px;
  color: #000b69;
  font-weight: bold;
  text-align: left;
  display: flex;
  align-items: center;
  width: 40%;
  box-sizing: border-box;
  padding-left: 30px;
}
/* 오른쪽 */
.right > h4 {
  font-size: 35px;
  color: #2d2d2d;
  text-align: center;
  box-sizing: border-box;
  padding-top: 99px;
  font-weight: 600;
}
.right > p {
  font-size: 20px;
  color: #717171;
  text-align: center;
  margin-top: 30px;
  line-height: 32px;
  margin-left: -97px;
}
.po {
  color: #1b8bff;
}

/* 첫번째 */
.con_mo_wrap {
  width: 1295px;
  box-sizing: border-box;
  padding: 64px 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  border-top: 2px dotted #dddddd;
}
.con_wrap {
  display: flex;
  width: 100%;
  height: 328px;
  gap: 35px;
}

/* 이미지 1 */
.left__img {
  width: 402px;
  height: 100%;
  background-color: #ffdddd;
  position: relative;
  background: url(../img/sub4/list2.png) no-repeat;
}
.right_txt {
  width: 67.4%;
  height: 326px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
/* 해시태그 */
.sm {
  display: flex;
}
/* 이미지2 */
.left__img2 {
  width: 402px;
  height: 100%;
  background-color: #ffdddd;
  position: relative;
  background: url(../img/sub4/list3.png) no-repeat;
}
/* 이미지3 */
.left__img3 {
  width: 402px;
  height: 100%;
  background-color: #ffdddd;
  position: relative;
  background: url(../img/sub4/list.png) no-repeat;
}
/* 이미지4 */
.left__img4 {
  width: 402px;
  height: 100%;
  background-color: #ffdddd;
  position: relative;
  background: url(../img/sub4/list4.png) no-repeat;
}
/* 꾸미기 */
.right_txt > h3 {
  font-size: 25px;
  font-weight: 600;
}
.right_txt > p {
  font-size: 16px;
  color: #999999;
  line-height: 30px;
  margin-top: 80px;
}
/* 해시태그 영역 */
.sm {
  color: #898989;
  line-height: 52px;
  display: flex;
  justify-content: space-between;

  border-top: 1px solid rgba(107, 107, 107, 0.5);
  border-bottom: 1px solid rgba(107, 107, 107, 0.5);
}
.date1 {
  font-size: 15px;
  text-align: center;
}
.date2 {
  font-size: 15px;
  text-align: center;
}

/* 호버박스 */
.hov_box {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -28px;
  width: 200px;
  height: 56px;
  border-radius: 10px;
  display: block;
  color: #f9f9f9;
  text-align: center;
  line-height: 52px;
  font-size: 20px;
  opacity: 0;
  background-color: #2d2d2d;
}
.hov_box > h4 {
  color: #f9f9f9;
  text-align: center;
  font-size: 20px;
  line-height: 56px;
}
.con_wrap:hover .right_txt > h3 {
  color: #898989;
}
.left__img:hover .hov_box {
  opacity: 1;
}
.left__img2:hover .hov_box {
  opacity: 1;
}
.left__img3:hover .hov_box {
  opacity: 1;
}
.left__img4:hover .hov_box {
  opacity: 1;
}
/* 마무리버튼 */
.btn_sub {
  width: 200px;
  height: 56px;
  border-radius: 10px;
  margin-left: 104px;
  display: block;
  color: #3497ff;
  text-align: center;
  line-height: 52px;
  font-size: 25px;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 105px;
  border: 1px solid #3497ff;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  margin-bottom: 100px;
}
/* div 액션 */
.action {
  width: 200px;
  height: 56px;
  border-radius: 10px;
  margin-left: 104px;
  display: block;
  color: #3497ff;
  text-align: center;
  line-height: 52px;
  font-size: 25px;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 105px;
  background-color: #1b8bff;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}
.btn_sub:hover .action {
  top: -105px;
  left: 0px;
  opacity: 1;
  transition: 0.3s;
  z-index: -999;
}
.btn_sub:hover {
  color: #f9f9f9;
}
