@charset "utf-8";
/* 초기화 , 헤더 풋터 고정css */
@import url(./layout.css);

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
main {
  height: fit-content;
}
/* 메인영역 */
.blu_box_noting {
  background-image: url(../img/sub3/husband.png);
}
/*  섹션1 */
/* 플로팅 사진 */
.float2 {
  width: 73%;
  height: fit-content;
  position: absolute;
  z-index: 4;
  background-size: 487px;
  background-repeat: no-repeat;
  left: 5%;
  top: 12.5%;
  animation: slinder 1s ease;
  animation-duration: 3s;
}
/* 애니메이션 */
@keyframes slinder {
  0% {
    opacity: 0;
    left: 0px;
  }

  100% {
    opacity: 1;
    right: 198px;
  }
}
/* 떠다니는 메뉴 */
div,
ul,
li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.bar_wrap {
  display: flex;
  width: 353px;
  height: 53px;
  line-height: 53px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.float2 > p {
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}
.float2 > span {
  font-size: 50px;
  color: #1b8bff;
  font-weight: bold;
}
.se_1 {
  width: 100%;
  height: fit-content;

  margin: 0 auto;
}
.par {
  font-size: 30px;
  color: #2d2d2d;
  text-align: center;
  margin-top: 100px;
  font-weight: 500;
  margin-bottom: 100px;
}
.img_float {
  width: 1250px;
  height: 500px;
  background-image: url(../img/mom.png);
  margin-bottom: 50px;
}
.help {
  font-size: 40px;
  color: #1b8bff;
  font-weight: bold;
}

.height {
  width: 30px;
  height: 30px;
  background-image: url(../img/sub4/arrow.png);
  background-repeat: no-repeat;
  margin-left: 18px;
  margin-top: 14px;
}
/* 감싸주는 */
.input_wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* 인풋2 */
.input_tag {
  width: fit-content;
  height: 44px;
  background-color: #f9f9f9;

  border-radius: 5px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  padding-left: 10px;
}
input {
  width: 415px;
  height: 44px;
  background-color: #f9f9f9;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 59px;
  border: none;
}

.search {
  width: 40px;
  height: 100%;
  background-image: url(../img/sub4/Result.png);
  background-position: -548px 13px;
  cursor: pointer;
}
/* 셀렉 */
.best {
  width: 100px;
  height: 45px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #717171;

  appearance: none;
}
/*  */
.best ::-ms-expand {
  display: none;
}
/* 섹션2 */
.se_2 {
  width: 1300px;
  height: fit-content;
  margin: 0 auto;
}
.top {
  width: 87px;
  font-size: 20px;
  height: 26px;
  font-weight: 800;

  text-align: center;
}
/* 사람만 묶어주는 */
.top_list {
  display: flex;

  gap: 35px;
}
.hum_warp {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 300px;
  /* background-color: aqua; */
  margin: 0 auto;
}
/* 휴먼 상단 왼쪽*/
/*  박스 */
.hue {
  width: 300px;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 4px 5.6px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  cursor: pointer;
}

/*  섹션3 */
.sc_3 {
  width: 100%;
  height: 100px;
  margin-top: 50px;
}
/* 메뉴바 */
.bar_wrap {
  display: flex;
  width: 353px;
  height: 70px;
  padding-top: 12px;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}
.bar_wrap > div {
  border-bottom: 1px solid #1b8bff;
  width: 117px;
  height: 100%;
  text-align: center;
  color: #1b8bff;
}
.bar_wrap > div:hover {
  border-bottom: 3px solid #1b8bff;
  transition: 0.3s;
}
/* 메뉴 색 */
.bar_wrap > div > p {
  font-size: 16px;
}
/* 메뉴 색 */
.bar_wrap > div:hover > p {
  transition: 0.3s;
  color: #1b8bff;
}
/* 공지바 */
.best {
  background-color: #f9f9f9;
  width: 100px;
}
/* 별 */
.star_wrap {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: end;
}
.star {
  width: 40px;
  height: 40px;

  background-image: url(../img/sub4/split.png);
  background-repeat: no-repeat;
  background-position: -26px -189px;
}
.star:active {
  background-image: url(../img/sub4/split.png);
  background-repeat: no-repeat;
  background-position: -170px -189px;
}
/* 사람 이미지 일러스트 */
.man {
  width: 116px;
  height: 116px;

  border-radius: 100%;
  background-image: url(../img/sub3/human1.png);
  background-repeat: no-repeat;
  margin: 0 auto;
}
.man2 {
  width: 116px;
  height: 116px;

  border-radius: 100%;
  background-image: url(../img/sub3/human2.png);
  background-repeat: no-repeat;
  margin: 0 auto;
}
.man3 {
  width: 116px;
  height: 116px;

  border-radius: 100%;
  background-image: url(../img/sub3/human3.png);
  background-repeat: no-repeat;
  margin: 0 auto;
}
.hue > h2 {
  text-align: center;
  line-height: 50px;
  font-weight: 800;
  font-size: 20px;
}
/* 팔로워 조회수 밑 박스 묶음 */
.toto {
  gap: 10px;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
}

/* 안 박스 */
.sm_div {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: space-between;
  text-align: center;
}
.sm_div > div {
  gap: 10px;
  font-size: 13px;
  text-align: center;
}
.sm_div > div > span {
  font-size: 15px;
  font-weight: 500;
}
/* 상단오른쪽 */
.right_img {
  width: 30%;
  height: 350px;
  height: 270px;
  background-color: #2d2d2d;
  gap: 61px;
  display: flex;
  flex-direction: column;
}
.boxs {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.boxs > .div_wr {
  width: 305px;
  height: 104px;
  border-radius: 30px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 5.6px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  padding-top: 30px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.boxs > .div_wr:hover {
  transform: translateY(-10px);
}

.div_wr > h3 {
  color: #006399;
  font-size: 15px;
  font-weight: bold;
  text-align: center;

  position: relative;
}
/* 에프터 줄 */
.div_wr > h3::after {
  display: block;
  width: 132px;
  height: 2px;
  background-color: #1286ff;
  content: "";
  position: absolute;
  top: 19px;
  left: 86px;
  opacity: 0;
}
.div_wr:hover > h3::after {
  opacity: 100;
  transition: 0.3s;
}
.div_wr > p {
  font-size: 15px;
  color: #000000;
  text-align: center;
  line-height: 27px;
  font-weight: 400;
}
.bl {
  color: #1286ff;
}

/* 글쓰기 div */
.wr {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding-top: 20px;
}
.wr_1 {
  display: block;
  width: 72px;
  height: 34px;
  border: 1px solid #3497ff;
  border-radius: 10px;
  text-align: center;
  line-height: 34px;
  color: #3497ff;
  font-size: 15px;
  font-weight: bold;
}
.wr_1:active {
  color: #2d2d2d;
}
/*섹션4 */
.se_4 {
  margin: 0 auto;
  width: 1200px;
  height: 2453px;
  border-top: 2px solid #b5b5b5;
  border-bottom: 0px;
}
/* 안 div */
.co_wrap {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding-top: 35px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  flex-direction: column;
  padding: 30px;
}
.co_wrap:hover {
  background-color: #f8f8f8;
}
/* 앨범 */
.post_bg {
  width: 204px;
  height: 216px;
  background-image: url(../img/sub3/food.png);
  background-size: 204px;
  height: 216px;
  background-repeat: no-repeat;
  border-radius: 10px;
  min-width: 330px;
}
/* 앨범 */
.alb {
  width: 36%;
  height: fit-content;
  display: flex;
  gap: 20px;
}
.al2 {
  width: 204px;
  height: 216px;
  background-image: url(../img/sub3/daily.jpg);
  background-position: center;
  border-radius: 10px;
  min-width: 330px;
}
/* 사진3 */
.al_1 {
  width: 204px;
  height: 216px;
  background-size: 400px;
  height: 216px;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: #000;
  min-width: 330px;
  display: none;
}
.al2_1 {
  width: 204px;
  height: 216px;
  background-color: #000;
  background-size: 400px;
  height: 216px;
  background-repeat: no-repeat;
  border-radius: 10px;
  min-width: 330px;
}
.al2_1_1 {
  width: 100px;
  height: 216px;
  background-color: #000;
  background-size: 400px;
  height: 216px;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.al_122 {
  width: 204px;
  height: 216px;
  background-image: url(../img/sub3/trip.jpg);
  background-size: 400px;
  height: 216px;
  background-repeat: no-repeat;
  border-radius: 10px;
  min-width: 330px;
}
/* 텍스트 영역 */
.al_txt {
  width: 100%;
  height: fit-content;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 사람1 안 히트 박스 */
.hit_box {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  width: 25%;
  align-items: center;
}

.hit {
  width: fit-content;
  height: fit-content;
  margin-top: 15px;
  margin-right: 0px;
}
/* hit애니 */
.mi {
  display: block;
}

.mi:not(.light) {
  opacity: 0;
  animation: flashText 1s ease-out alternate infinite;
}

.mi .light {
  position: relative;
  display: inline-block;
}

@keyframes flash {
  0% {
    opacity: 20;
  }
}

@keyframes flashText {
  100% {
    opacity: 15;
  }
}
/* 사람 디스플레이 논*/
.post_user {
  width: 56px;
  height: 56px;
  background-image: url(../img/sub3/human1.png);
  background-repeat: no-repeat;
  background-size: 56px;
  display: none;
  min-width: 46px;
}
.post_user2 {
  width: 56px;
  height: 56px;
  background-image: url(../img/sub3/human2.png);
  background-repeat: no-repeat;
  background-size: 56px;
  min-width: 46px;
}
.post_user3 {
  width: 56px;
  height: 56px;
  background-image: url(../img/sub3/human3.png);
  background-repeat: no-repeat;
  background-size: 56px;
  min-width: 46px;
}
.post_user4 {
  width: 56px;
  height: 56px;
  background-image: url(../img/sub3/human2.png);
  background-repeat: no-repeat;
  background-size: 56px;
  min-width: 46px;
}
.post_user5 {
  width: 56px;
  height: 56px;
  background-image: url(../img/sub3/human2.png);
  background-repeat: no-repeat;
  background-size: 56px;
  min-width: 46px;
}

.al_txt > h2 {
  font-weight: bold;
  font-size: 17px;
}
.who_wrap {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.who_wrap > p {
  font-size: 15px;
}
.top_wrap {
  display: flex;
  width: 50%;
  height: fit-content;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.top_name > h4 {
  font-size: 15px;
  font-weight: 300;
}
.top_name > h3 {
  font-size: 16px;
  font-weight: 800;
}
.top_wrap1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.top_name {
  width: 50%;
  display: flex;

  gap: 20px;
}

.top_wrap > h3 {
  font-size: 16px;
  font-weight: 800;
}
.top_wrap > h4 {
  font-size: 15px;
  font-weight: 300;
}
.al_txt > p {
  font-size: 15px;
  color: #717171;
  line-height: 35px;
}
/* 추천 버튼 */
.good {
  display: flex;
  gap: 58px;
}
.good > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 79px;
  height: 33px;
  border-radius: 5px;

  text-align: center;
  line-height: 33px;
  color: #727272;
}
.good > a:hover {
  color: #1286ff;
  background-color: #efefef;
}

#a_hide {
  display: none;
}
.good > a:hover #a_hide {
  display: block;
}
.good > a:hover img {
  display: none;
}
/* 댓글 */
.page {
  width: fit-content;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  display: flex;
  gap: 31px;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
}
.page > a {
  display: block;
  font-size: 21px;
}
.point {
  width: 15px;
  height: 15px;
  background-image: url(../img/split.png);
  background-repeat: no-repeat;

  background-position: -71px -258px;
}
.page > a:hover {
  color: #1286ff;
}
/* 좋아요 이미지 */
.goo > img {
  display: block;
  width: 15px;
}
.goo > span {
  display: block;
}
