@charset "utf-8";
/*반응형 헤더 풋터 고정css */
@import url(./responsive_layout.css);
/* 헤더 풋터 고정 css */
@import url(./layout.css);
body {
  font-family: "Noto Sans KR", "Poppins", sans-serif;
  height: fit-content;
  overflow: hidden;
  scroll-behavior: smooth;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  box-sizing: border-box;
  padding: 20px 50px;
  justify-content: space-between;
  position: relative;
  z-index: 999;
}
/* 로고 */
h1 {
  width: 200px;
  height: 80px;
  margin-top: -23px;
  position: relative;
  top: 15px;
}
/* 처음이자 마지막 섹션 */
.baby {
  width: 100%;
  height: 1100px;
  background-color: #a1dce2;
  position: relative;
  /* z-index: -2; */
}
/* 디데이 */
.date {
  position: absolute;
  width: 340px;
  height: 147px;
  right: 122px;
  top: 113px;
  z-index: 3;
}
h4 {
  font-size: 70px;
  color: #fff;
  font-weight: 800;
  /* text-shadow: 0.3px 0.3px rgba(0, 0, 0, 0.8); */
}
span {
  font-size: 100px;
  color: #1b8bff;
  font-weight: 800;
}
/* 아기 이미지 */
.baby_wrap {
  width: 100%;
  height: 100vh;
}
.baby_wrap > div {
  width: 100%;
  height: 100%;
}

/* 텍스트박스 */
.te_xt {
  width: 80%;
  height: 53vh;
  background-color: rgba(79, 172, 255, 0.9);
  position: absolute;
  margin: 0 auto;
  top: 0;
  margin-top: 219px;
  left: 50%;
  margin-left: -40%;
  z-index: 998;
  box-sizing: border-box;
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exit {
  color: #ffffff;
  font-size: 25px;
  display: flex;
  justify-content: end;
  margin-right: 33px;
}
.te_xt > h3 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-top: 50px;
}
.te_xt > p {
  font-size: 20px;
  color: #fff;
  line-height: 35px;
  font-weight: 200;
  text-align: center;
  margin-top: 50px;
}
.te_xt > .more {
  display: block;
  width: 218px;
  height: 56px;
  font-size: 25px;
  font-weight: 800;
  color: #1b8bff;
  background-color: #fff;
  border: 1px solid #1b8bff;
  text-align: center;
  border-radius: 10px;
  line-height: 56px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  opacity: 1;
  overflow: hidden;
}
/* .te_xt > .more:hover {
  color: #00448d;
  background-color: #b9b9b9;
} */
/* div 액션 */
.action {
  width: 218px;
  height: 56px;
  border-radius: 10px;
  margin-left: 104px;
  display: block;
  color: #3497ff;
  text-align: center;
  line-height: 52px;
  font-size: 25px;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 105px;
  background-color: #1b8bff;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -999;
  overflow: hidden;
}
.more:hover .action {
  top: -105px;
  left: 0px;
  opacity: 1;
  transition: 0.3s;
  z-index: 999;
  overflow: hidden;
  color: #fff;
  display: block;
  width: 218px;
  height: 56px;
}
.btn_sub:hover {
  color: #f9f9f9;
}

/* 미디어쿼리 */
@media screen and (max-width: 1630px) {
  .te_xt > .more {
    margin-top: 20px;
  }
  .exit {
    color: #ffffff;
    font-size: 34px;
  }
  .date {
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 1%;
    top: 10%;
    z-index: 3;
  }
}
